<html>
<head>
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="dothisnext">

<!-- navigation and control line -->
<div id="navline">
<table width="100%"><tr>
<td>
<img src="/images/selogo.jpg" />
<span class="apptitle"> Do This Next </span>
<br /><span class="hint">an application from Schoolhouse Earth</span>
</td>
<td align="right">
<b>User: {{ myname }} </b>&nbsp;
<a href="help">Help</a>&nbsp;
<a href="{{ url }}">{{ url_linktext }}</a><br />
</td>
</tr></table>
</div>
<!-- end navigation and control line -->

<!-- main body section -->
<table><tr>
<!-- results table and basic help -->
<td valign="top" width="70%">
<p>This page displays the prototype for the "Do This Next" web application. Data input here will be saved in the WebApp datastore and available for later retrieval.  All fields are not yet available. This prototype is here to explore the basic construction of the application, and the fundamentals of deployment. </p>
<!-- task output table -->
<div id="showtasks">
   <table border="0" cellpadding="4"> 
      <tr>
         <th> <a href="/?sort_order=name">Name</a> </th>
         <th> <a href="/?sort_order=priority">Priority</a> </th>
         <th> Description </th>
         <th> <a href="/?sort_order=owner">Owner </a></th>
         <th> <a href="/?sort_order=status">Status</a> </th>
         <th> View/Edit </th>
      </tr>
      {% for task in tasklist %} 
         <tr> 
            <td valign="top">{{ task.name|escape }}</td>
            <td align="center" valign="top">{{ task.priority|escape }}</td>
            <td>{{ task.description|escape }}</td>
            <td valign="top">{{ task.owner|escape }}</td>
            <td valign="top">{{ task.status|escape }}</td>
            <td> 
               <form action="/wholetask">
                  <input type="hidden" name="key" value={{ task.key }} />
                  <input type="submit" value="View/Edit" />
               </form>
            </td>
         </tr>
      {% endfor %}
   </table>
</div>
<!-- end task output table -->
</td>

<!-- right hand navigation -->
<td valign="top">
<div id="chatbox">

<!-- new task input form -->
<form action="/taskinput" method="post"> 
   <table margin="5px">
   <tr><td>
   Task Name:<br />
   <input name="taskname" type="text" size="40"/>
   </td></tr>
   <tr><td>
   Priority: 
   <select name="priority"> 
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected="selected">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
   </select>
   </td></tr>
   <tr><td>
   Description: <br />
   <textarea name="description" cols="40" rows="5"></textarea>
   </td></tr>
   <tr><td>
   Category:<br /><input name="category" type="text" size="40"/><br /> 
   <div class="hint">enter comma separated tags</div>
   </td></tr>
   <tr><td>
   Due Date: <input type="text" name="due_date" size="32">
   </td></tr>
   <tr><td>
   Owner:<br />
   <input type="text" name="owner" value="{{ myname }}" size="40"><br />
   </td></tr>
   <tr><td>
   Status:
   <select name="status"> 
      <option value="1-Opened">Opened</option>
      <option value="2-Acknowledged">Acknowledged</option>
      <option value="3-Underway">Underway</option>
      <option value="4-Complete">Complete</option>
      <option value="5-Archived">Archived</option>
   </select> <br />
   </td></tr>
   <tr><td>
   <div class="hint"><input type="submit" value="Submit"></div>
   </td></tr>
   </table>
</form>
<!-- END new task input form -->
<hr width="40%" />
      {% for greeting in greetings %}
            {% if greeting.author %}
                    <b>{{ greeting.author.nickname }}:</b>
            {% else %}
                    <b>anonymous:</b>
            {% endif %}
            {{ greeting.content|escape }} <br />
       {% endfor %}

<form action="/sign" method="post"> 
   <div><textarea name="content" rows="3"></textarea></div> 
   <div><input type="submit" value="Submit"></div> 
</form>
</div>
<!-- end of chat log box -->
</td>
<!-- end right hand navigation -->
</tr></table>
</body> </html>
